<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASDrKn0o5zQo1kfw0V4L5LY-7olUbp6ds</string>
	<key>GCM_SENDER_ID</key>
	<string>12918470161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secretApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-dec1c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-dec1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12918470161:ios:93eeb7dbb10ed8040a23b0</string>
</dict>
</plist>